<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>5.0</real>
		<key>text</key>
		<string>There are two ways of moving me</string>
	</dict>
	<dict>
		<key>action</key>
		<string>dpad_show</string>
		<key>delay</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>7.0</real>
		<key>text</key>
		<string>The first is by a direction pad</string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>3.0</real>
		<key>text</key>
		<string>You can enable it from the main menu</string>
	</dict>
	<dict>
		<key>action</key>
		<string>dpad_hide</string>
		<key>delay</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>1.0</real>
		<key>text</key>
		<string></string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>5.0</real>
		<key>text</key>
		<string>The second is by a sliding your finger</string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>3.0</real>
		<key>text</key>
		<string>First; moving one step</string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>0</real>
		<key>text</key>
		<string></string>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.40491509437561035</real>
		<key>x</key>
		<real>346</real>
		<key>y</key>
		<real>42</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10013008117675781</real>
		<key>x</key>
		<real>347</real>
		<key>y</key>
		<real>47</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13387203216552734</real>
		<key>x</key>
		<real>348</real>
		<key>y</key>
		<real>58</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11637187004089355</real>
		<key>x</key>
		<real>348</real>
		<key>y</key>
		<real>62</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11674904823303223</real>
		<key>x</key>
		<real>348</real>
		<key>y</key>
		<real>64</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10007500648498535</real>
		<key>x</key>
		<real>348</real>
		<key>y</key>
		<real>67</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.067075014114379883</real>
		<key>x</key>
		<real>348</real>
		<key>y</key>
		<real>71</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0016689300537109375</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.1156461238861084</real>
		<key>x</key>
		<real>348</real>
		<key>y</key>
		<real>75</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11620497703552246</real>
		<key>x</key>
		<real>348</real>
		<key>y</key>
		<real>78</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11099100112915039</real>
		<key>x</key>
		<real>348</real>
		<key>y</key>
		<real>79</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.0243861675262451</real>
		<key>x</key>
		<real>348</real>
		<key>y</key>
		<real>79</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.16683387756347656</real>
		<key>x</key>
		<real>346</real>
		<key>y</key>
		<real>87</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13355588912963867</real>
		<key>x</key>
		<real>346</real>
		<key>y</key>
		<real>82</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11680507659912109</real>
		<key>x</key>
		<real>346</real>
		<key>y</key>
		<real>78</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11675882339477539</real>
		<key>x</key>
		<real>345</real>
		<key>y</key>
		<real>73</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13384437561035156</real>
		<key>x</key>
		<real>345</real>
		<key>y</key>
		<real>65</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10023593902587891</real>
		<key>x</key>
		<real>344</real>
		<key>y</key>
		<real>58</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.00189971923828125</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13128995895385742</real>
		<key>x</key>
		<real>344</real>
		<key>y</key>
		<real>55</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.18396997451782227</real>
		<key>x</key>
		<real>344</real>
		<key>y</key>
		<real>52</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.066427230834960938</real>
		<key>x</key>
		<real>344</real>
		<key>y</key>
		<real>51</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.72813892364501953</real>
		<key>x</key>
		<real>344</real>
		<key>y</key>
		<real>51</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.22309398651123047</real>
		<key>x</key>
		<real>348</real>
		<key>y</key>
		<real>43</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13399124145507812</real>
		<key>x</key>
		<real>344</real>
		<key>y</key>
		<real>43</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11655569076538086</real>
		<key>x</key>
		<real>339</real>
		<key>y</key>
		<real>43</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11675596237182617</real>
		<key>x</key>
		<real>326</real>
		<key>y</key>
		<real>43</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11655330657958984</real>
		<key>x</key>
		<real>319</real>
		<key>y</key>
		<real>43</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0016570091247558594</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11524581909179688</real>
		<key>x</key>
		<real>310</real>
		<key>y</key>
		<real>43</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.19158601760864258</real>
		<key>x</key>
		<real>303</real>
		<key>y</key>
		<real>43</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.64029884338378906</real>
		<key>x</key>
		<real>303</real>
		<key>y</key>
		<real>43</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11976432800292969</real>
		<key>x</key>
		<real>304</real>
		<key>y</key>
		<real>45</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10011863708496094</real>
		<key>x</key>
		<real>315</real>
		<key>y</key>
		<real>46</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13360595703125</real>
		<key>x</key>
		<real>327</real>
		<key>y</key>
		<real>46</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.083205223083496094</real>
		<key>x</key>
		<real>330</real>
		<key>y</key>
		<real>46</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.0016469955444335938</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.131744384765625</real>
		<key>x</key>
		<real>335</real>
		<key>y</key>
		<real>46</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13366031646728516</real>
		<key>x</key>
		<real>338</real>
		<key>y</key>
		<real>46</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.08803558349609375</real>
		<key>x</key>
		<real>341</real>
		<key>y</key>
		<real>46</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.08803558349609375</real>
		<key>x</key>
		<real>341</real>
		<key>y</key>
		<real>46</real>
	</dict>
</array>
</plist>
