<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>	
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>3.0</real>
		<key>text</key>
		<string>Don't push blocks onto fishes</string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>3.0</real>
		<key>text</key>
		<string>As you won't be able to eat them!</string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>0</real>
		<key>text</key>
		<string></string>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10248899459838867</real>
		<key>x</key>
		<real>406</real>
		<key>y</key>
		<real>85</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0017110109329223633</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.081247925758361816</real>
		<key>x</key>
		<real>337</real>
		<key>y</key>
		<real>78</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.74146199226379395</real>
		<key>x</key>
		<real>337</real>
		<key>y</key>
		<real>78</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11102414131164551</real>
		<key>x</key>
		<real>355</real>
		<key>y</key>
		<real>52</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.016453981399536133</real>
		<key>x</key>
		<real>355</real>
		<key>y</key>
		<real>59</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0016980171203613281</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.1154409646987915</real>
		<key>x</key>
		<real>355</real>
		<key>y</key>
		<real>115</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11637699604034424</real>
		<key>x</key>
		<real>355</real>
		<key>y</key>
		<real>127</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.017323970794677734</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13315701484680176</real>
		<key>x</key>
		<real>355</real>
		<key>y</key>
		<real>135</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.049443960189819336</real>
		<key>x</key>
		<real>356</real>
		<key>y</key>
		<real>138</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0022799968719482422</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11524701118469238</real>
		<key>x</key>
		<real>357</real>
		<key>y</key>
		<real>141</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.010226011276245117</real>
		<key>x</key>
		<real>357</real>
		<key>y</key>
		<real>142</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.1370301246643066</real>
		<key>x</key>
		<real>357</real>
		<key>y</key>
		<real>142</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.12183594703674316</real>
		<key>x</key>
		<real>277</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.067334890365600586</real>
		<key>x</key>
		<real>303</real>
		<key>y</key>
		<real>160</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.0016810894012451172</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.057817935943603516</real>
		<key>x</key>
		<real>334</real>
		<key>y</key>
		<real>161</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.1692478656768799</real>
		<key>x</key>
		<real>334</real>
		<key>y</key>
		<real>161</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.089797019958496094</real>
		<key>x</key>
		<real>413</real>
		<key>y</key>
		<real>149</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.022145271301269531</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11160707473754883</real>
		<key>x</key>
		<real>419</real>
		<key>y</key>
		<real>233</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.0092139244079589844</real>
		<key>x</key>
		<real>419</real>
		<key>y</key>
		<real>237</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.1448907852172852</real>
		<key>x</key>
		<real>419</real>
		<key>y</key>
		<real>237</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.064862251281738281</real>
		<key>x</key>
		<real>417</real>
		<key>y</key>
		<real>216</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0016918182373046875</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11514091491699219</real>
		<key>x</key>
		<real>417</real>
		<key>y</key>
		<real>275</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.042212963104248047</real>
		<key>x</key>
		<real>417</real>
		<key>y</key>
		<real>280</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.39333629608154297</real>
		<key>x</key>
		<real>417</real>
		<key>y</key>
		<real>280</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.098784923553466797</real>
		<key>x</key>
		<real>416</real>
		<key>y</key>
		<real>195</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>3.910064697265625e-05</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.08528900146484375</real>
		<key>x</key>
		<real>420</real>
		<key>y</key>
		<real>250</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.22482681274414062</real>
		<key>x</key>
		<real>420</real>
		<key>y</key>
		<real>250</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.074076175689697266</real>
		<key>x</key>
		<real>415</real>
		<key>y</key>
		<real>185</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>3.5762786865234375e-05</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.093644142150878906</real>
		<key>x</key>
		<real>415</real>
		<key>y</key>
		<real>253</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.1681828498840332</real>
		<key>x</key>
		<real>415</real>
		<key>y</key>
		<real>253</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.071903228759765625</real>
		<key>x</key>
		<real>396</real>
		<key>y</key>
		<real>226</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0016927719116210938</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.094071865081787109</real>
		<key>x</key>
		<real>354</real>
		<key>y</key>
		<real>216</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.26640796661376953</real>
		<key>x</key>
		<real>354</real>
		<key>y</key>
		<real>216</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.055426597595214844</real>
		<key>x</key>
		<real>377</real>
		<key>y</key>
		<real>230</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.001728057861328125</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.085790634155273438</real>
		<key>x</key>
		<real>389</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.73695468902587891</real>
		<key>x</key>
		<real>389</real>
		<key>y</key>
		<real>288</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.12723731994628906</real>
		<key>x</key>
		<real>302</real>
		<key>y</key>
		<real>250</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.0668182373046875</real>
		<key>x</key>
		<real>327</real>
		<key>y</key>
		<real>250</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>4.291534423828125e-05</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11680889129638672</real>
		<key>x</key>
		<real>379</real>
		<key>y</key>
		<real>249</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.097971916198730469</real>
		<key>x</key>
		<real>407</real>
		<key>y</key>
		<real>250</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.2492761611938477</real>
		<key>x</key>
		<real>407</real>
		<key>y</key>
		<real>250</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10539340972900391</real>
		<key>x</key>
		<real>358</real>
		<key>y</key>
		<real>250</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.050416946411132812</real>
		<key>x</key>
		<real>361</real>
		<key>y</key>
		<real>233</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.0017423629760742188</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11474800109863281</real>
		<key>x</key>
		<real>369</real>
		<key>y</key>
		<real>162</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10032558441162109</real>
		<key>x</key>
		<real>374</real>
		<key>y</key>
		<real>122</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.01639556884765625</real>
		<key>x</key>
		<real>374</real>
		<key>y</key>
		<real>121</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.016884803771972656</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.18295764923095703</real>
		<key>x</key>
		<real>374</real>
		<key>y</key>
		<real>119</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.20012378692626953</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.16532421112060547</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.82149028778076172</real>
		<key>x</key>
		<real>374</real>
		<key>y</key>
		<real>119</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.099401473999023438</real>
		<key>x</key>
		<real>367</real>
		<key>y</key>
		<real>107</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.0016889572143554688</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.06665802001953125</real>
		<key>x</key>
		<real>363</real>
		<key>y</key>
		<real>66</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.23267269134521484</real>
		<key>x</key>
		<real>363</real>
		<key>y</key>
		<real>66</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.033249855041503906</real>
		<key>x</key>
		<real>360</real>
		<key>y</key>
		<real>82</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.00218963623046875</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.076566696166992188</real>
		<key>x</key>
		<real>439</real>
		<key>y</key>
		<real>83</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.076566696166992188</real>
		<key>x</key>
		<real>439</real>
		<key>y</key>
		<real>83</real>
	</dict>
</array>
</plist>
