<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>5.0</real>
		<key>text</key>
		<string>Now let's push some ice blocks!</string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>5.0</real>
		<key>text</key>
		<string>Blocks does not wrap around like me.</string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>0</real>
		<key>text</key>
		<string></string>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10804599523544312</real>
		<key>x</key>
		<real>413</real>
		<key>y</key>
		<real>79</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.050511956214904785</real>
		<key>x</key>
		<real>390</real>
		<key>y</key>
		<real>77</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0017919540405273438</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.078920125961303711</real>
		<key>x</key>
		<real>326</real>
		<key>y</key>
		<real>75</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.69645094871520996</real>
		<key>x</key>
		<real>326</real>
		<key>y</key>
		<real>75</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.1069490909576416</real>
		<key>x</key>
		<real>356</real>
		<key>y</key>
		<real>30</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.016299962997436523</real>
		<key>x</key>
		<real>358</real>
		<key>y</key>
		<real>38</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0017290115356445312</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10321497917175293</real>
		<key>x</key>
		<real>363</real>
		<key>y</key>
		<real>76</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.12918591499328613</real>
		<key>x</key>
		<real>363</real>
		<key>y</key>
		<real>80</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.00066804885864257812</real>
		<key>x</key>
		<real>363</real>
		<key>y</key>
		<real>81</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.032680034637451172</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.16734600067138672</real>
		<key>x</key>
		<real>363</real>
		<key>y</key>
		<real>84</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.06633305549621582</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.1000978946685791</real>
		<key>x</key>
		<real>364</real>
		<key>y</key>
		<real>87</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.033470869064331055</real>
		<key>x</key>
		<real>364</real>
		<key>y</key>
		<real>88</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.098088264465332031</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>2.2474379539489746</real>
		<key>x</key>
		<real>364</real>
		<key>y</key>
		<real>88</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10774087905883789</real>
		<key>x</key>
		<real>263</real>
		<key>y</key>
		<real>58</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.033810138702392578</real>
		<key>x</key>
		<real>284</real>
		<key>y</key>
		<real>58</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.012094020843505859</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10473299026489258</real>
		<key>x</key>
		<real>395</real>
		<key>y</key>
		<real>57</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.037755012512207031</real>
		<key>x</key>
		<real>419</real>
		<key>y</key>
		<real>58</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.5038480758666992</real>
		<key>x</key>
		<real>419</real>
		<key>y</key>
		<real>58</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11035060882568359</real>
		<key>x</key>
		<real>384</real>
		<key>y</key>
		<real>60</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.033593177795410156</real>
		<key>x</key>
		<real>383</real>
		<key>y</key>
		<real>42</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.0016131401062011719</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11541986465454102</real>
		<key>x</key>
		<real>380</real>
		<key>y</key>
		<real>8</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13329505920410156</real>
		<key>x</key>
		<real>380</real>
		<key>y</key>
		<real>7</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.20003271102905273</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.17348098754882812</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.24805736541748047</real>
		<key>x</key>
		<real>380</real>
		<key>y</key>
		<real>7</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11281013488769531</real>
		<key>x</key>
		<real>359</real>
		<key>y</key>
		<real>47</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.050545692443847656</real>
		<key>x</key>
		<real>380</real>
		<key>y</key>
		<real>47</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.0016069412231445312</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10262012481689453</real>
		<key>x</key>
		<real>389</real>
		<key>y</key>
		<real>47</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.076833724975585938</real>
		<key>x</key>
		<real>409</real>
		<key>y</key>
		<real>49</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.16032123565673828</real>
		<key>x</key>
		<real>409</real>
		<key>y</key>
		<real>49</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.091924667358398438</real>
		<key>x</key>
		<real>358</real>
		<key>y</key>
		<real>25</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.0016145706176757812</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.073026657104492188</real>
		<key>x</key>
		<real>352</real>
		<key>y</key>
		<real>-4</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1</real>
		<key>x</key>
		<real>352</real>
		<key>y</key>
		<real>-4</real>
	</dict>
</array>
</plist>
