<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>5.0</real>
		<key>text</key>
		<string>Second: continuous movement.</string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>0</real>
		<key>text</key>
		<string></string>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10411500930786133</real>
		<key>x</key>
		<real>337</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.016168951988220215</real>
		<key>x</key>
		<real>332</real>
		<key>y</key>
		<real>43</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0017009973526000977</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.1150200366973877</real>
		<key>x</key>
		<real>293</real>
		<key>y</key>
		<real>43</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11691796779632568</real>
		<key>x</key>
		<real>275</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.033268928527832031</real>
		<key>x</key>
		<real>267</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0021281242370605469</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10150396823883057</real>
		<key>x</key>
		<real>257</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.096364021301269531</real>
		<key>x</key>
		<real>250</real>
		<key>y</key>
		<real>45</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.017390966415405273</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13356196880340576</real>
		<key>x</key>
		<real>249</real>
		<key>y</key>
		<real>46</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.021290063858032227</real>
		<key>x</key>
		<real>246</real>
		<key>y</key>
		<real>46</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.1204609870910645</real>
		<key>x</key>
		<real>246</real>
		<key>y</key>
		<real>46</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.12666606903076172</real>
		<key>x</key>
		<real>249</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10080289840698242</real>
		<key>x</key>
		<real>262</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11616301536560059</real>
		<key>x</key>
		<real>275</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.016747951507568359</real>
		<key>x</key>
		<real>277</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.0018839836120605469</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11485910415649414</real>
		<key>x</key>
		<real>283</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10043191909790039</real>
		<key>x</key>
		<real>297</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10021400451660156</real>
		<key>x</key>
		<real>303</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.099905014038085938</real>
		<key>x</key>
		<real>307</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.20001506805419922</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.19999289512634277</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.20005321502685547</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.19986486434936523</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.15885210037231445</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.4631776809692383</real>
		<key>x</key>
		<real>307</real>
		<key>y</key>
		<real>44</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11500835418701172</real>
		<key>x</key>
		<real>283</real>
		<key>y</key>
		<real>31</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10016107559204102</real>
		<key>x</key>
		<real>282</real>
		<key>y</key>
		<real>48</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.066601753234863281</real>
		<key>x</key>
		<real>282</real>
		<key>y</key>
		<real>59</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0016570091247558594</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.1153569221496582</real>
		<key>x</key>
		<real>282</real>
		<key>y</key>
		<real>84</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11686134338378906</real>
		<key>x</key>
		<real>282</real>
		<key>y</key>
		<real>99</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.049936771392822266</real>
		<key>x</key>
		<real>284</real>
		<key>y</key>
		<real>99</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.050127029418945312</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.14993810653686523</real>
		<key>x</key>
		<real>284</real>
		<key>y</key>
		<real>100</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.20004892349243164</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.1999516487121582</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.19993829727172852</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.19999408721923828</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.073986053466796875</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.7442536354064941</real>
		<key>x</key>
		<real>284</real>
		<key>y</key>
		<real>100</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.30286598205566406</real>
		<key>x</key>
		<real>440</real>
		<key>y</key>
		<real>254</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10031604766845703</real>
		<key>x</key>
		<real>435</real>
		<key>y</key>
		<real>254</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10004425048828125</real>
		<key>x</key>
		<real>416</real>
		<key>y</key>
		<real>254</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0016527175903320312</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11537933349609375</real>
		<key>x</key>
		<real>375</real>
		<key>y</key>
		<real>253</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.14993667602539062</real>
		<key>x</key>
		<real>356</real>
		<key>y</key>
		<real>254</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.00244903564453125</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.19744777679443359</real>
		<key>x</key>
		<real>350</real>
		<key>y</key>
		<real>254</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.19986152648925781</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.11751651763916016</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.082510948181152344</real>
		<key>x</key>
		<real>351</real>
		<key>y</key>
		<real>224</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0023241043090820312</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11547470092773438</real>
		<key>x</key>
		<real>355</real>
		<key>y</key>
		<real>139</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.082293510437011719</real>
		<key>x</key>
		<real>355</real>
		<key>y</key>
		<real>135</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.19991970062255859</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.19988536834716797</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.11884784698486328</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.0811614990234375</real>
		<key>x</key>
		<real>310</real>
		<key>y</key>
		<real>138</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.0031042098999023438</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11616992950439453</real>
		<key>x</key>
		<real>273</real>
		<key>y</key>
		<real>143</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.080739974975585938</real>
		<key>x</key>
		<real>272</real>
		<key>y</key>
		<real>143</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.10287570953369141</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.097249984741210938</real>
		<key>x</key>
		<real>280</real>
		<key>y</key>
		<real>121</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.070862770080566406</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11566352844238281</real>
		<key>x</key>
		<real>291</real>
		<key>y</key>
		<real>90</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.013365745544433594</real>
		<key>x</key>
		<real>292</real>
		<key>y</key>
		<real>72</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.0033426284790039062</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.19658946990966797</real>
		<key>x</key>
		<real>290</real>
		<key>y</key>
		<real>46</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.057104110717773438</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.14296817779541016</real>
		<key>x</key>
		<real>396</real>
		<key>y</key>
		<real>66</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.19991779327392578</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.19997501373291016</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.045495986938476562</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1</real>
		<key>x</key>
		<real>396</real>
		<key>y</key>
		<real>66</real>
	</dict>
</array>
</plist>
