<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>5.0</real>
		<key>text</key>
		<string>I can't get over snow walls...</string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>5.0</real>
		<key>text</key>
		<string>or the water holes.</string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>0</real>
		<key>text</key>
		<string></string>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10113698244094849</real>
		<key>x</key>
		<real>406</real>
		<key>y</key>
		<real>69</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.050432980060577393</real>
		<key>x</key>
		<real>381</real>
		<key>y</key>
		<real>69</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0016911029815673828</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.1152958869934082</real>
		<key>x</key>
		<real>329</real>
		<key>y</key>
		<real>69</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.099861025810241699</real>
		<key>x</key>
		<real>297</real>
		<key>y</key>
		<real>69</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0021150112152099609</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13158094882965088</real>
		<key>x</key>
		<real>288</real>
		<key>y</key>
		<real>70</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.066244125366210938</real>
		<key>x</key>
		<real>287</real>
		<key>y</key>
		<real>70</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.10071396827697754</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.099380970001220703</real>
		<key>x</key>
		<real>285</real>
		<key>y</key>
		<real>70</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.017359018325805664</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.04592597484588623</real>
		<key>x</key>
		<real>283</real>
		<key>y</key>
		<real>70</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.73596704006195068</real>
		<key>x</key>
		<real>283</real>
		<key>y</key>
		<real>70</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10315799713134766</real>
		<key>x</key>
		<real>340</real>
		<key>y</key>
		<real>68</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.032845020294189453</real>
		<key>x</key>
		<real>328</real>
		<key>y</key>
		<real>69</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>2.9802322387695312e-05</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10031414031982422</real>
		<key>x</key>
		<real>280</real>
		<key>y</key>
		<real>72</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10021805763244629</real>
		<key>x</key>
		<real>230</real>
		<key>y</key>
		<real>73</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.049628973007202148</real>
		<key>x</key>
		<real>212</real>
		<key>y</key>
		<real>73</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.00046396255493164062</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.084920883178710938</real>
		<key>x</key>
		<real>181</real>
		<key>y</key>
		<real>72</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.43274116516113281</real>
		<key>x</key>
		<real>181</real>
		<key>y</key>
		<real>72</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10020685195922852</real>
		<key>x</key>
		<real>308</real>
		<key>y</key>
		<real>31</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0017380714416503906</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13120698928833008</real>
		<key>x</key>
		<real>309</real>
		<key>y</key>
		<real>79</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.099992990493774414</real>
		<key>x</key>
		<real>309</real>
		<key>y</key>
		<real>85</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.017132043838500977</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.089498996734619141</real>
		<key>x</key>
		<real>309</real>
		<key>y</key>
		<real>86</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.71173000335693359</real>
		<key>x</key>
		<real>309</real>
		<key>y</key>
		<real>86</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11661911010742188</real>
		<key>x</key>
		<real>279</real>
		<key>y</key>
		<real>173</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>4.00543212890625e-05</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11694478988647461</real>
		<key>x</key>
		<real>209</real>
		<key>y</key>
		<real>173</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11670017242431641</real>
		<key>x</key>
		<real>170</real>
		<key>y</key>
		<real>173</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.00019073486328125</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.073521137237548828</real>
		<key>x</key>
		<real>161</real>
		<key>y</key>
		<real>173</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.53629207611083984</real>
		<key>x</key>
		<real>161</real>
		<key>y</key>
		<real>173</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.091265201568603516</real>
		<key>x</key>
		<real>303</real>
		<key>y</key>
		<real>171</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>3.0517578125e-05</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.1169891357421875</real>
		<key>x</key>
		<real>199</real>
		<key>y</key>
		<real>170</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11580610275268555</real>
		<key>x</key>
		<real>138</real>
		<key>y</key>
		<real>170</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.00054693222045898438</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.019011020660400391</real>
		<key>x</key>
		<real>135</real>
		<key>y</key>
		<real>169</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.77596187591552734</real>
		<key>x</key>
		<real>135</real>
		<key>y</key>
		<real>169</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10658502578735352</real>
		<key>x</key>
		<real>310</real>
		<key>y</key>
		<real>207</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.033513069152832031</real>
		<key>x</key>
		<real>308</real>
		<key>y</key>
		<real>190</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.0020051002502441406</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11450004577636719</real>
		<key>x</key>
		<real>305</real>
		<key>y</key>
		<real>158</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.14980888366699219</real>
		<key>x</key>
		<real>305</real>
		<key>y</key>
		<real>148</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.016847133636474609</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.010005950927734375</real>
		<key>x</key>
		<real>305</real>
		<key>y</key>
		<real>147</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.47868108749389648</real>
		<key>x</key>
		<real>305</real>
		<key>y</key>
		<real>147</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11227893829345703</real>
		<key>x</key>
		<real>311</real>
		<key>y</key>
		<real>151</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.0016579627990722656</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11517477035522461</real>
		<key>x</key>
		<real>370</real>
		<key>y</key>
		<real>149</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.099873065948486328</real>
		<key>x</key>
		<real>374</real>
		<key>y</key>
		<real>149</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.0021829605102539062</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11497020721435547</real>
		<key>x</key>
		<real>378</real>
		<key>y</key>
		<real>149</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.082714080810546875</real>
		<key>x</key>
		<real>380</real>
		<key>y</key>
		<real>149</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.034316062927246094</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.07746124267578125</real>
		<key>x</key>
		<real>382</real>
		<key>y</key>
		<real>149</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1</real>
		<key>x</key>
		<real>382</real>
		<key>y</key>
		<real>149</real>
	</dict>
</array>
</plist>
