<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>5.0</real>
		<key>text</key>
		<string>Ok, now let's finish this level!</string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>0</real>
		<key>text</key>
		<string></string>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10166800022125244</real>
		<key>x</key>
		<real>408</real>
		<key>y</key>
		<real>107</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.066880941390991211</real>
		<key>x</key>
		<real>388</real>
		<key>y</key>
		<real>107</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0026640892028808594</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11398994922637939</real>
		<key>x</key>
		<real>365</real>
		<key>y</key>
		<real>107</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.043162941932678223</real>
		<key>x</key>
		<real>360</real>
		<key>y</key>
		<real>107</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.65738701820373535</real>
		<key>x</key>
		<real>360</real>
		<key>y</key>
		<real>107</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.084212064743041992</real>
		<key>x</key>
		<real>357</real>
		<key>y</key>
		<real>29</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0016608238220214844</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11529827117919922</real>
		<key>x</key>
		<real>369</real>
		<key>y</key>
		<real>93</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10020780563354492</real>
		<key>x</key>
		<real>369</real>
		<key>y</key>
		<real>108</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.016311168670654297</real>
		<key>x</key>
		<real>369</real>
		<key>y</key>
		<real>111</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.002391815185546875</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13132810592651367</real>
		<key>x</key>
		<real>369</real>
		<key>y</key>
		<real>121</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.066348075866699219</real>
		<key>x</key>
		<real>369</real>
		<key>y</key>
		<real>126</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0024189949035644531</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13198685646057129</real>
		<key>x</key>
		<real>370</real>
		<key>y</key>
		<real>134</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.065505027770996094</real>
		<key>x</key>
		<real>370</real>
		<key>y</key>
		<real>141</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0022730827331542969</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13260602951049805</real>
		<key>x</key>
		<real>371</real>
		<key>y</key>
		<real>148</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.065109968185424805</real>
		<key>x</key>
		<real>372</real>
		<key>y</key>
		<real>150</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0026628971099853516</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.080137014389038086</real>
		<key>x</key>
		<real>373</real>
		<key>y</key>
		<real>153</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.39332389831542969</real>
		<key>x</key>
		<real>373</real>
		<key>y</key>
		<real>153</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11003303527832031</real>
		<key>x</key>
		<real>381</real>
		<key>y</key>
		<real>195</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.067047119140625</real>
		<key>x</key>
		<real>407</real>
		<key>y</key>
		<real>197</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.0076930522918701172</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.0072920322418212891</real>
		<key>x</key>
		<real>412</real>
		<key>y</key>
		<real>197</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.78565788269042969</real>
		<key>x</key>
		<real>412</real>
		<key>y</key>
		<real>197</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.084156036376953125</real>
		<key>x</key>
		<real>414</real>
		<key>y</key>
		<real>202</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0017580986022949219</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11487197875976562</real>
		<key>x</key>
		<real>373</real>
		<key>y</key>
		<real>200</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.030029773712158203</real>
		<key>x</key>
		<real>371</real>
		<key>y</key>
		<real>200</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.70546197891235352</real>
		<key>x</key>
		<real>371</real>
		<key>y</key>
		<real>200</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11621618270874023</real>
		<key>x</key>
		<real>384</real>
		<key>y</key>
		<real>219</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.0024971961975097656</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11432981491088867</real>
		<key>x</key>
		<real>385</real>
		<key>y</key>
		<real>150</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10010385513305664</real>
		<key>x</key>
		<real>385</real>
		<key>y</key>
		<real>112</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.033411979675292969</real>
		<key>x</key>
		<real>385</real>
		<key>y</key>
		<real>107</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.016900062561035156</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11685705184936523</real>
		<key>x</key>
		<real>384</real>
		<key>y</key>
		<real>105</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.066152095794677734</real>
		<key>x</key>
		<real>384</real>
		<key>y</key>
		<real>102</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.0021710395812988281</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.1152796745300293</real>
		<key>x</key>
		<real>384</real>
		<key>y</key>
		<real>95</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.012507438659667969</real>
		<key>x</key>
		<real>383</real>
		<key>y</key>
		<real>94</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.81051254272460938</real>
		<key>x</key>
		<real>383</real>
		<key>y</key>
		<real>94</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.095256328582763672</real>
		<key>x</key>
		<real>359</real>
		<key>y</key>
		<real>214</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.016519069671630859</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.071545600891113281</real>
		<key>x</key>
		<real>297</real>
		<key>y</key>
		<real>215</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.8029212951660156</real>
		<key>x</key>
		<real>297</real>
		<key>y</key>
		<real>215</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11295223236083984</real>
		<key>x</key>
		<real>341</real>
		<key>y</key>
		<real>212</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.016419410705566406</real>
		<key>x</key>
		<real>339</real>
		<key>y</key>
		<real>201</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.0016565322875976562</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.044436454772949219</real>
		<key>x</key>
		<real>338</real>
		<key>y</key>
		<real>172</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.42392730712890625</real>
		<key>x</key>
		<real>338</real>
		<key>y</key>
		<real>172</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.097985267639160156</real>
		<key>x</key>
		<real>337</real>
		<key>y</key>
		<real>186</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.0019407272338867188</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.052033424377441406</real>
		<key>x</key>
		<real>382</real>
		<key>y</key>
		<real>187</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.33615016937255859</real>
		<key>x</key>
		<real>382</real>
		<key>y</key>
		<real>187</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.094036102294921875</real>
		<key>x</key>
		<real>360</real>
		<key>y</key>
		<real>178</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.0016374588012695312</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.081533432006835938</real>
		<key>x</key>
		<real>413</real>
		<key>y</key>
		<real>179</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.33571720123291016</real>
		<key>x</key>
		<real>413</real>
		<key>y</key>
		<real>179</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.065183639526367188</real>
		<key>x</key>
		<real>416</real>
		<key>y</key>
		<real>191</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0017118453979492188</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.077235221862792969</real>
		<key>x</key>
		<real>417</real>
		<key>y</key>
		<real>226</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.60900306701660156</real>
		<key>x</key>
		<real>417</real>
		<key>y</key>
		<real>226</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.097051620483398438</real>
		<key>x</key>
		<real>404</real>
		<key>y</key>
		<real>214</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.016201019287109375</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.086615562438964844</real>
		<key>x</key>
		<real>287</real>
		<key>y</key>
		<real>215</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.4975795745849609</real>
		<key>x</key>
		<real>287</real>
		<key>y</key>
		<real>215</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.085954666137695312</real>
		<key>x</key>
		<real>378</real>
		<key>y</key>
		<real>213</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.001705169677734375</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.07241058349609375</real>
		<key>x</key>
		<real>380</real>
		<key>y</key>
		<real>164</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.23222732543945312</real>
		<key>x</key>
		<real>380</real>
		<key>y</key>
		<real>164</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11150550842285156</real>
		<key>x</key>
		<real>378</real>
		<key>y</key>
		<real>201</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.0020017623901367188</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.038029670715332031</real>
		<key>x</key>
		<real>422</real>
		<key>y</key>
		<real>201</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.26547622680664062</real>
		<key>x</key>
		<real>422</real>
		<key>y</key>
		<real>201</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11128616333007812</real>
		<key>x</key>
		<real>401</real>
		<key>y</key>
		<real>194</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.0017108917236328125</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.038997650146484375</real>
		<key>x</key>
		<real>435</real>
		<key>y</key>
		<real>193</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.43990802764892578</real>
		<key>x</key>
		<real>435</real>
		<key>y</key>
		<real>193</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.037261962890625</real>
		<key>x</key>
		<real>439</real>
		<key>y</key>
		<real>211</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0017347335815429688</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.080899238586425781</real>
		<key>x</key>
		<real>439</real>
		<key>y</key>
		<real>278</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.880828857421875</real>
		<key>x</key>
		<real>439</real>
		<key>y</key>
		<real>278</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.071878433227539062</real>
		<key>x</key>
		<real>412</real>
		<key>y</key>
		<real>159</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.011517524719238281</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10588359832763672</real>
		<key>x</key>
		<real>187</real>
		<key>y</key>
		<real>152</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.0039615631103515625</real>
		<key>x</key>
		<real>175</real>
		<key>y</key>
		<real>152</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.6016559600830078</real>
		<key>x</key>
		<real>175</real>
		<key>y</key>
		<real>152</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.097064971923828125</real>
		<key>x</key>
		<real>333</real>
		<key>y</key>
		<real>208</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0020885467529296875</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11476707458496094</real>
		<key>x</key>
		<real>302</real>
		<key>y</key>
		<real>209</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10036468505859375</real>
		<key>x</key>
		<real>286</real>
		<key>y</key>
		<real>209</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.066576004028320312</real>
		<key>x</key>
		<real>278</real>
		<key>y</key>
		<real>208</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.19978904724121094</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.20006752014160156</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.20009994506835938</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.19989395141601562</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.19995689392089844</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.19995307922363281</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.12487411499023438</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.28856468200683594</real>
		<key>x</key>
		<real>278</real>
		<key>y</key>
		<real>208</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.1067657470703125</real>
		<key>x</key>
		<real>292</real>
		<key>y</key>
		<real>206</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.016925811767578125</real>
		<key>x</key>
		<real>294</real>
		<key>y</key>
		<real>197</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.0017414093017578125</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11499595642089844</real>
		<key>x</key>
		<real>304</real>
		<key>y</key>
		<real>114</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.1046600341796875</real>
		<key>x</key>
		<real>305</real>
		<key>y</key>
		<real>89</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.01192474365234375</real>
		<key>x</key>
		<real>305</real>
		<key>y</key>
		<real>88</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.0046329498291015625</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.25496864318847656</real>
		<key>x</key>
		<real>305</real>
		<key>y</key>
		<real>88</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.091487884521484375</real>
		<key>x</key>
		<real>323</real>
		<key>y</key>
		<real>112</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.001689910888671875</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11523056030273438</real>
		<key>x</key>
		<real>290</real>
		<key>y</key>
		<real>114</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.023553848266601562</real>
		<key>x</key>
		<real>289</real>
		<key>y</key>
		<real>115</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.84906005859375</real>
		<key>x</key>
		<real>289</real>
		<key>y</key>
		<real>115</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.062391281127929688</real>
		<key>x</key>
		<real>302</real>
		<key>y</key>
		<real>113</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.021467208862304688</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.12067031860351562</real>
		<key>x</key>
		<real>304</real>
		<key>y</key>
		<real>181</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.56517982482910156</real>
		<key>x</key>
		<real>304</real>
		<key>y</key>
		<real>181</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.077375411987304688</real>
		<key>x</key>
		<real>304</real>
		<key>y</key>
		<real>174</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0017242431640625</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11516761779785156</real>
		<key>x</key>
		<real>305</real>
		<key>y</key>
		<real>215</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11699676513671875</real>
		<key>x</key>
		<real>306</real>
		<key>y</key>
		<real>225</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.017629623413085938</real>
		<key>x</key>
		<real>306</real>
		<key>y</key>
		<real>226</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.03229522705078125</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10013961791992188</real>
		<key>x</key>
		<real>306</real>
		<key>y</key>
		<real>228</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.067646026611328125</real>
		<key>x</key>
		<real>307</real>
		<key>y</key>
		<real>229</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.082593917846679688</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10038566589355469</real>
		<key>x</key>
		<real>307</real>
		<key>y</key>
		<real>230</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.40612220764160156</real>
		<key>x</key>
		<real>307</real>
		<key>y</key>
		<real>230</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11556243896484375</real>
		<key>x</key>
		<real>302</real>
		<key>y</key>
		<real>203</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.021984100341796875</real>
		<key>x</key>
		<real>292</real>
		<key>y</key>
		<real>204</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0076961517333984375</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.089414596557617188</real>
		<key>x</key>
		<real>239</real>
		<key>y</key>
		<real>214</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.68951606750488281</real>
		<key>x</key>
		<real>239</real>
		<key>y</key>
		<real>214</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.1053619384765625</real>
		<key>x</key>
		<real>241</real>
		<key>y</key>
		<real>239</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.017278671264648438</real>
		<key>x</key>
		<real>248</real>
		<key>y</key>
		<real>239</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.003795623779296875</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.1128082275390625</real>
		<key>x</key>
		<real>323</real>
		<key>y</key>
		<real>235</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10051918029785156</real>
		<key>x</key>
		<real>344</real>
		<key>y</key>
		<real>235</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.0161285400390625</real>
		<key>x</key>
		<real>345</real>
		<key>y</key>
		<real>235</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.012950897216796875</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.18718719482421875</real>
		<key>x</key>
		<real>347</real>
		<key>y</key>
		<real>234</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.10754966735839844</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.6939010620117188</real>
		<key>x</key>
		<real>347</real>
		<key>y</key>
		<real>234</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.076383590698242188</real>
		<key>x</key>
		<real>319</real>
		<key>y</key>
		<real>189</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>5.3427066802978516</real>
		<key>x</key>
		<real>319</real>
		<key>y</key>
		<real>189</real>
	</dict>
</array>
</plist>
