<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>5.0</real>
		<key>text</key>
		<string>Now let's explore my world a bit.</string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>5.0</real>
		<key>text</key>
		<string>In my world I can wrap around like this!</string>
	</dict>
	<dict>
		<key>action</key>
		<string></string>
		<key>delay</key>
		<real>0</real>
		<key>text</key>
		<string></string>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.098711967468261719</real>
		<key>x</key>
		<real>297</real>
		<key>y</key>
		<real>47</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.0016280412673950195</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11455100774765015</real>
		<key>x</key>
		<real>423</real>
		<key>y</key>
		<real>50</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11693298816680908</real>
		<key>x</key>
		<real>440</real>
		<key>y</key>
		<real>51</real>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.1999049186706543</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.2001030445098877</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.19996309280395508</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.1999589204788208</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>right</string>
		<key>delay</key>
		<real>0.077028989791870117</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.80738294124603271</real>
		<key>x</key>
		<real>440</real>
		<key>y</key>
		<real>51</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10198211669921875</real>
		<key>x</key>
		<real>442</real>
		<key>y</key>
		<real>51</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10000491142272949</real>
		<key>x</key>
		<real>419</real>
		<key>y</key>
		<real>53</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0016160011291503906</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11531996726989746</real>
		<key>x</key>
		<real>349</real>
		<key>y</key>
		<real>48</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10010004043579102</real>
		<key>x</key>
		<real>315</real>
		<key>y</key>
		<real>47</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.01653289794921875</real>
		<key>x</key>
		<real>311</real>
		<key>y</key>
		<real>47</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.017273187637329102</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.18288207054138184</real>
		<key>x</key>
		<real>309</real>
		<key>y</key>
		<real>47</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.20000481605529785</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.051959991455078125</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1.4240701198577881</real>
		<key>x</key>
		<real>309</real>
		<key>y</key>
		<real>47</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11026716232299805</real>
		<key>x</key>
		<real>327</real>
		<key>y</key>
		<real>88</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.09996795654296875</real>
		<key>x</key>
		<real>326</real>
		<key>y</key>
		<real>71</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.0016298294067382812</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11548805236816406</real>
		<key>x</key>
		<real>326</real>
		<key>y</key>
		<real>60</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13306617736816406</real>
		<key>x</key>
		<real>325</real>
		<key>y</key>
		<real>32</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13372898101806641</real>
		<key>x</key>
		<real>325</real>
		<key>y</key>
		<real>31</real>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.19993066787719727</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.19997930526733398</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.19990682601928711</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>up</string>
		<key>delay</key>
		<real>0.061748027801513672</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.56871223449707031</real>
		<key>x</key>
		<real>325</real>
		<key>y</key>
		<real>31</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10489368438720703</real>
		<key>x</key>
		<real>325</real>
		<key>y</key>
		<real>26</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.066555976867675781</real>
		<key>x</key>
		<real>327</real>
		<key>y</key>
		<real>53</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.00168609619140625</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13208389282226562</real>
		<key>x</key>
		<real>328</real>
		<key>y</key>
		<real>79</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10037326812744141</real>
		<key>x</key>
		<real>328</real>
		<key>y</key>
		<real>81</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.03745269775390625</real>
		<key>x</key>
		<real>328</real>
		<key>y</key>
		<real>82</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0021262168884277344</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11058378219604492</real>
		<key>x</key>
		<real>328</real>
		<key>y</key>
		<real>84</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.082651138305664062</real>
		<key>x</key>
		<real>328</real>
		<key>y</key>
		<real>86</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.033909797668457031</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11736726760864258</real>
		<key>x</key>
		<real>328</real>
		<key>y</key>
		<real>88</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.048615932464599609</real>
		<key>x</key>
		<real>328</real>
		<key>y</key>
		<real>89</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.0024251937866210938</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.14911985397338867</real>
		<key>x</key>
		<real>328</real>
		<key>y</key>
		<real>91</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.048531055450439453</real>
		<key>x</key>
		<real>328</real>
		<key>y</key>
		<real>92</real>
	</dict>
	<dict>
		<key>action</key>
		<string>down</string>
		<key>delay</key>
		<real>0.068072319030761719</real>
		<key>hold</key>
		<true/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.094779014587402344</real>
		<key>x</key>
		<real>328</real>
		<key>y</key>
		<real>93</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.40612602233886719</real>
		<key>x</key>
		<real>328</real>
		<key>y</key>
		<real>93</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.11725044250488281</real>
		<key>x</key>
		<real>352</real>
		<key>y</key>
		<real>66</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.032750129699707031</real>
		<key>x</key>
		<real>337</real>
		<key>y</key>
		<real>66</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0017137527465820312</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.13219070434570312</real>
		<key>x</key>
		<real>314</real>
		<key>y</key>
		<real>69</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.18341636657714844</real>
		<key>x</key>
		<real>305</real>
		<key>y</key>
		<real>69</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.02835845947265625</real>
		<key>x</key>
		<real>301</real>
		<key>y</key>
		<real>69</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>0.28833866119384766</real>
		<key>x</key>
		<real>301</real>
		<key>y</key>
		<real>69</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.10047435760498047</real>
		<key>x</key>
		<real>321</real>
		<key>y</key>
		<real>69</real>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.016719818115234375</real>
		<key>x</key>
		<real>312</real>
		<key>y</key>
		<real>69</real>
	</dict>
	<dict>
		<key>action</key>
		<string>left</string>
		<key>delay</key>
		<real>0.0017271041870117188</real>
		<key>hold</key>
		<false/>
	</dict>
	<dict>
		<key>action</key>
		<string>touch</string>
		<key>delay</key>
		<real>0.09694671630859375</real>
		<key>x</key>
		<real>286</real>
		<key>y</key>
		<real>70</real>
	</dict>
	<dict>
		<key>action</key>
		<string>point</string>
		<key>delay</key>
		<real>1</real>
		<key>x</key>
		<real>286</real>
		<key>y</key>
		<real>70</real>
	</dict>
</array>
</plist>
